body {
  background-color: #F4F7F7;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

#gt {
  height: 50px;
  width: 80px;
}

table {
  margin: 0 auto;
  text-align: center;
}

th {
  text-align: center;
  vertical-align: middle;
}

td {
  height: 30px;
  width: 100px;
}

th, td {
  border: 1px solid black;
}

#titleName {
  font-size: 40px;
  color: white;
  font-weight: bold;
  float: left;
}

#bar {
  width: 100%;
  background: black;
  height: 70px;
}

h2 {
  font-size: 20px;
}

#descript #ps #calc {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

#per {
  text-decoration: underline;
}

#instruct {
  font-style: italic;
  font-weight: bold;
}

#sadness {
  font-style: italic;
  background-image: url(kitten.jps);
}

.form, .form-group {
  width: 33%;
  margin: 0 auto;
  margin-top: 30px;
}

#testDiv {
  clear: left;
}

#titleName {
  font-size: 30px;
}

#weight, #grade {
  color: red;
  font-weight: bold;
}

#myOutput {
  font-weight: bold;
  font-size: 20px;
}

#calcButton {
  color: white;
  background-color: black;
}

span {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 5px solid #DFDFDF;
  color: #717171;
  font-size: 13px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -80px;
  left: -30px;
  display: none;
  padding: 0 20px;
}

span:after {
  content: '';
  bottom: -10px;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #dfdfdf;
  border-right: 5px solid #dfdfdf;
  background: #f8f8f8;
  left: 50%;
  margin-left: -5px;
  transform: rotate(45deg);
}

#hov {
  margin: 5px;
  float: none;
  position: relative;
  cursor: pointer;
}

#hov:hover span {
  display: block;
}
